<div class="container-login100" style="background-image: url('../../../assets/home.jpg');">
<div class="container">
  <form id="contact">
    <h3>Nutrition Application</h3>
    <h4>Free Nutrition Analysis</h4>
    <p style="text-align: center;">Submit the full text of any recipe or ingredient list to obtain a free nutrition analysis </p>
    <br>
    <hr>
    <br>
    <p style="text-align: center;">I have used an API Service from EDAMAM which allows for text analysis and nutritional analysis of a recipe using A.I under theire free developer license <a href="https://developer.edamam.com"> https://developer.edamam.com </a></p>
    <br>
    <hr>
    <br>
    <p style="text-align: center;">I have used Bootstrap Framework </p>
    <br>
    <hr>
    <br>

    <fieldset>
      <button name="submit" type="submit" id="contact-submit"  [routerLink]="['/Nutrition']">Go To Nutrition Analysis !</button>
    </fieldset>
    <p class="copyright">Designed by <a href="https://github.com/MK167" target="_blank" title="Mohammed Khaled">Mohammed Khaled</a></p>
  </form>
</div>
</div>
