<div class="container-login100" style="background-image: url('../../../assets/home.jpg');">
<div class="main-content" >
  <div class="container-fluid">
  <div class="row">
  <div class="col-sm-8 p-3">
   <div>
    <form id="contact" style="border-radius: 20px" [formGroup]="NutritionFormPOST" (ngSubmit)="saveData()">
      <h3>Get Your Meal Nutrition 🍴</h3>
      <h4>Free Nutrition Analysis</h4>
      <h4 style="text-align: center; color: red;" >Enter an ingredient list list for what you are cooking, like "1 cup rice, 10 oz chickpeas", etc.
       <br> Enter each ingredient on a new line.</h4>
      <fieldset>
        <textarea placeholder="1 cup rice,&#10;10 oz chickpeas" formControlName="Inger" class="form-control" id = 'Inger' required tabindex="5" required></textarea>
        <!-- Validation in Angular 13 (update)
          Old Version
            //
            <div *ngIf="f.Inger.touched && f.Inger.invalid" class="alert alert-danger">

            <div *ngIf="f.Inger.errors && f.Inger.errors.required">Inger is required.</div>

            <div *ngIf="f.Inger.errors && f.Inger.errors.minlength">Inger should be 3 character.</div>

            </div>
            /////////
        -->
        <div *ngIf="f['Inger'].touched && f['Inger'].invalid" class="alert alert-danger">
          <div *ngIf="f['Inger'].errors && f['Inger'].errors['required']"> **ingredient is required.</div>
          <div *ngIf="f['Inger'].errors && f['Inger'].errors['minlength']"> **ingredient should be 3 character.</div>
      </div>
      </fieldset>
      <fieldset>
        <button  type="submit" id="contact-submit" [disabled]="NutritionFormPOST.invalid || NutritionFormPOST == null" (click)="saveData()">Analyze 📈</button>
        <button  type="submit" id="contact-submit" *ngIf="NutritionFormPOST.invalid == false" (click)="NewRecipe()">New Recipe</button>
      </fieldset>
    </form>
  </div>

  <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white; font-weight: bold;">جارى تحميل البيانات برجاء الانتظار ... </p>
    </ngx-spinner>

  <!-- <table class="table table-hover table-light" style="margin-top: -90px;">
    <thead>
      <tr>
        <th scope="col">Qty	</th>
        <th scope="col">Unit</th>
        <th scope="col">Food</th>
        <th scope="col">Calories</th>
        <th scope="col">Weight</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of RootObject">
        <th scope="row">{{item.calories}}</th>
        <td></td>
      </tr>

    </tbody>
  </table> -->

  </div>

  <div class="col-md-4 content p-3">
    <form id="contact" style="border-radius: 15px">
      <h3 style="text-align: center; border-bottom: 3.5px solid black;">Nutrition Facts &#9829;</h3>
      <p style="text-align: center;">Amount Per Serving</p>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Info</th>
              <th scope="col">Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let RootObject of RootObject">
              <th scope="row">Total Calories</th>
              <td>{{RootObject.calories | number : '1.2-2'}} kcal</td>
            </tr>
            <tr *ngFor="let RootObject of RootObject">
              <th scope="row">Fat</th>
              <td>{{RootObject.totalNutrients.FAT.quantity | number : '1.2-2'}} g <br> {{RootObject.totalDaily.FAT.quantity | number : '1.2-2'}} %</td>
            </tr>
            <tr *ngFor="let RootObject of RootObject">
              <th scope="row">Saturated Fat</th>
              <td>{{RootObject.totalNutrients.FASAT.quantity | number : '1.2-2'}} g <br> {{RootObject.totalDaily.FASAT.quantity | number : '1.2-2'}} %</td>
            </tr>
            <tr *ngFor="let RootObject of RootObject">
              <th scope="row">Trans Fat -</th>
              <td>{{RootObject.totalNutrients.FAMS.quantity | number : '1.2-2'}}g</td>
            </tr>
            <tr *ngFor="let RootObject of RootObject">
              <th scope="row">Cholesterol</th>
              <td>{{RootObject.totalNutrients.CHOLE.quantity | number : '1.2-2'}} mg <br> {{RootObject.totalDaily.CHOLE.quantity| number : '1.2-2'}} % </td>
            </tr>
            <tr *ngFor="let RootObject of RootObject">
              <th scope="row">Sodium</th>
              <td>{{RootObject.totalNutrients.NA.quantity | number : '1.2-2'}} mg <br> {{RootObject.totalDaily.NA.quantity | number : '1.2-2'}} %</td>
            </tr>
            <tr *ngFor="let RootObject of RootObject">
              <th scope="row">Total Carbohydrate</th>
              <td>{{RootObject.totalNutrients.CHOCDF.quantity | number : '1.2-2'}}g  <br> {{RootObject.totalDaily.CHOCDF.quantity | number : '1.2-2'}} %</td>
            </tr>
            <tr *ngFor="let RootObject of RootObject" >
              <th scope="row">Dietary Fiber</th>
              <td>
                  {{RootObject.totalNutrients.FIBTG.quantity | number : '1.2-2'}}g <br> {{RootObject.totalDaily.FIBTG.quantity | number : '1.2-2'}} %
            </td>
            </tr>
            <tr *ngFor="let RootObject of RootObject">
              <th scope="row">Total Sugars</th>
              <td>
                {{RootObject.totalNutrients.SUGAR.quantity | number : '1.2-2'}} g
              </td>
            </tr>
            <tr *ngFor="let RootObject of RootObject">
              <th scope="row">Protein</th>
              <td>{{RootObject.totalNutrients.PROCNT.quantity | number : '1.2-2'}} g <br> {{RootObject.totalDaily.PROCNT.quantity | number : '1.2-2'}} %</td>
            </tr>
            <tr *ngFor="let RootObject of RootObject">
              <th scope="row">Vitamin (D)</th>
              <td>{{RootObject.totalNutrients.VITD.quantity | number : '1.2-2'}} µg <br> {{RootObject.totalDaily.VITD.quantity | number : '1.2-2'}} %</td>
            </tr>
            <tr *ngFor="let RootObject of RootObject">
              <th scope="row">Calcium</th>
              <td>{{RootObject.totalNutrients.CA.quantity | number : '1.2-2'}} mg <br> {{RootObject.totalDaily.CA.quantity | number : '1.2-2'}} %</td>
            </tr>
            <tr *ngFor="let RootObject of RootObject">
              <th scope="row">Iron</th>
              <td>{{RootObject.totalNutrients.FE.quantity | number : '1.2-2'}} mg <br> {{RootObject.totalDaily.FE.quantity | number : '1.2-2'}} %</td>
            </tr>
            <tr *ngFor="let RootObject of RootObject">
              <th scope="row">Potassium</th>
              <td>{{RootObject.totalNutrients.K.quantity | number : '1.2-2'}} mg <br> {{RootObject.totalDaily.K.quantity | number : '1.2-2'}} %</td>
            </tr>
          </tbody>
          <p style="color: red; text-align: center; font-size: small;">*Percent Daily Values are based on a 2000 calorie diet </p>
        </table>
    </form>
            </div>
  </div>
  </div>
</div>
</div>

<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3"> <p class="copyright">Designed by <a href="https://github.com/MK167" target="_blank" title="Mohammed Khaled">Mohammed Khaled</a></p>
           <a href="#" style="color: black;"> </a>
  </div>
  <!-- Copyright -->
</footer>
