<div class="container-login100" style="background-image: url('../../../assets/home.jpg');">

<div class="main-content" >
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-7" style="padding-right: 70px;">
   <div class="content">
    <form id="contact" style="border-radius: 20px" [formGroup]="NutritionForm" >
      <h3>Get Your Meal Nutrition 🍴</h3>
      <h4>Free Nutrition Analysis</h4>
      <h4 style="text-align: center; color: red;" >Enter an ingredient list list for what you are cooking, like "1 cup rice, 10 oz chickpeas", etc.
       <br> Enter each ingredient on a new line.</h4>
      <fieldset>
        <textarea placeholder="1 cup rice,&#10;10 oz chickpeas" formControlName="Inger" class="form-control" id = 'Inger' required tabindex="5" required></textarea>
        <!-- Validation in Angular 13 (update)
          Old Version
            //
            <div *ngIf="f.Inger.touched && f.Inger.invalid" class="alert alert-danger">

            <div *ngIf="f.Inger.errors && f.Inger.errors.required">Inger is required.</div>

            <div *ngIf="f.Inger.errors && f.Inger.errors.minlength">Inger should be 3 character.</div>

            </div>
            /////////
        -->
        <div *ngIf="f['Inger'].touched && f['Inger'].invalid" class="alert alert-danger">
          <div *ngIf="f['Inger'].errors && f['Inger'].errors['required']"> **ingredient is required.</div>
          <div *ngIf="f['Inger'].errors && f['Inger'].errors['minlength']"> **ingredient should be 3 character.</div>
      </div>
      </fieldset>
      <fieldset>
        <h4 style="text-align: left; color: red;" > *Select type of Analysis
        </h4>
          <select class="form-select" formControlName="IsCooking" aria-placeholder="Please Select Your Type Analysis"  class="form-control" id = 'IsCooking' required>
          <option value="cooking">cooking (Defult)</option>
          <option value="logging">logging</option>

        </select>
        <div *ngIf="f['IsCooking'].touched && f['IsCooking'].invalid" class="alert alert-danger">
          <div *ngIf="f['IsCooking'].errors && f['IsCooking'].errors['required']"> **Choose is required.</div>
      </div>
      </fieldset>
      <fieldset>
        <button  type="submit" id="contact-submit" [disabled]="NutritionForm.invalid" (click)="GetData()">Analyze 📈</button>
        <button  type="submit" id="contact-submit" (click)="NewRecipe()">New Recipe</button>
      </fieldset>
    </form>
  </div>
  <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white; font-weight: bold;">جارى تحميل البيانات برجاء الانتظار ... </p>
    </ngx-spinner>

  <table class="table table-hover table-light" style="margin-top: -90px;">
    <thead>
      <tr>
        <th scope="col">Qty	</th>
        <th scope="col">Unit</th>
        <th scope="col">Food</th>
        <th scope="col">Calories</th>
        <th scope="col">Weight</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of RootObject">
        <th scope="row">{{item.calories}}</th>
        <td></td>
      </tr>

    </tbody>
  </table>
  </div>

  <div class="col-md-4">
    <form id="contact" style="border-radius: 15px">
      <h3 style="text-align: center; border-bottom: 3.5px solid black;">Nutrition Facts &#9829;</h3>
      <p style="text-align: center;">Amount Per Serving</p>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Info</th>
              <th scope="col">Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let RootObject of RootObject">
              <th scope="row">Total Calories</th>
              <td>{{RootObject.calories}} kcal</td>
            </tr>
            <tr *ngFor="let RootObject of RootObject">
              <th scope="row">Fat</th>
              <td>{{RootObject.totalNutrients.FAT.quantity}} g <br> {{RootObject.totalDaily.FAT.quantity}} %</td>
            </tr>
            <tr *ngFor="let RootObject of RootObject">
              <th scope="row">Saturated Fat</th>
              <td>{{RootObject.totalNutrients.FASAT.quantity}} g <br> {{RootObject.totalDaily.FASAT.quantity}} %</td>
            </tr>
            <tr *ngFor="let RootObject of RootObject">
              <th scope="row">Trans Fat -</th>
              <td>{{RootObject.totalNutrients.FAMS.quantity}}g</td>
            </tr>
            <tr *ngFor="let RootObject of RootObject">
              <th scope="row">Cholesterol</th>
              <td>{{RootObject.totalNutrients.CHOLE.quantity}} mg <br> {{RootObject.totalDaily.CHOLE.quantity}} % </td>
            </tr>
            <tr *ngFor="let RootObject of RootObject">
              <th scope="row">Sodium</th>
              <td>{{RootObject.totalNutrients.NA.quantity}} mg <br> {{RootObject.totalDaily.NA.quantity}} %</td>
            </tr>
            <tr *ngFor="let RootObject of RootObject">
              <th scope="row">Total Carbohydrate</th>
              <td>{{RootObject.totalNutrients.CHOCDF.quantity}}g  <br> {{RootObject.totalDaily.CHOCDF.quantity}} %</td>
            </tr>

            <tr *ngFor="let RootObject of RootObject" >
              <th scope="row">Dietary Fiber</th>
              <td>
                <div *ngIf="NutritionForm.controls['IsCooking'].value === 'logging'">
                  {{RootObject.totalNutrients.FIBTG.quantity}} g <br> {{RootObject.totalDaily.FIBTG.quantity}} %
              </div>
              <div *ngIf="NutritionForm.controls['IsCooking'].value === 'cooking'">
            </div>
            </td>
            </tr>

            <tr *ngFor="let RootObject of RootObject">
              <th scope="row">Total Sugars</th>

              <td>
               <div *ngIf="NutritionForm.controls['IsCooking'].value === 'logging'">
                {{RootObject.totalNutrients.SUGAR.quantity}} g
               </div>
               <div *ngIf="NutritionForm.controls['IsCooking'].value === 'cooking'">
              </div>
              </td>

            </tr>


            <tr *ngFor="let RootObject of RootObject">
              <th scope="row">Protein</th>
              <td>{{RootObject.totalNutrients.PROCNT.quantity}} g <br> {{RootObject.totalDaily.PROCNT.quantity}} %</td>
            </tr>
            <tr *ngFor="let RootObject of RootObject">
              <th scope="row">Vitamin (D)</th>
              <td>{{RootObject.totalNutrients.VITD.quantity}} µg <br> {{RootObject.totalDaily.VITD.quantity}} %</td>
            </tr>
            <tr *ngFor="let RootObject of RootObject">
              <th scope="row">Calcium</th>
              <td>{{RootObject.totalNutrients.CA.quantity}} mg <br> {{RootObject.totalDaily.CA.quantity}} %</td>
            </tr>
            <tr *ngFor="let RootObject of RootObject">
              <th scope="row">Iron</th>
              <td>{{RootObject.totalNutrients.FE.quantity}} mg <br> {{RootObject.totalDaily.FE.quantity}} %</td>
            </tr>
            <tr *ngFor="let RootObject of RootObject">
              <th scope="row">Potassium</th>
              <td>{{RootObject.totalNutrients.K.quantity}} mg <br> {{RootObject.totalDaily.K.quantity}} %</td>
            </tr>
          </tbody>
          <p style="color: red; text-align: center; font-size: small;">*Percent Daily Values are based on a 2000 calorie diet </p>
        </table>
    </form>
            </div>
  </div>
  </div>
</div>
</div>

<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3"> <p class="copyright">Designed by <a href="https://github.com/MK167" target="_blank" title="Mohammed Khaled">Mohammed Khaled</a></p>
           <a href="#" style="color: black;"> </a>
  </div>
  <!-- Copyright -->
</footer>
